.footer {
    position: relative;
    background-color: black;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 2rem;
  }
  
  footer {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    padding-top: 3rem;
  }

  .footer h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  .imgFooter {
    height: 3rem;
    margin-bottom: 2rem;
  }
  
  @media screen and (max-width: 500px) {
    .imgFooter {
      height: 3rem;
    }
    .pFooter {
      font-size: 1rem;
    }
  }
  
  @media screen and (min-width: 768px) {
    .imgFooter {
      height: 3rem;
    }
    .pFooter {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
  }